<div class="recette-card">
  <img src="/assets/imgs/recipe/{{ recette.image }}">
  <p class="title">{{ recette.title }}</p>
  <p class="info">Temps de préparation : {{ recette.makingTime | date('H:i') }}</p>
  <p class="info">Calories : {{ recette.calories }} pour 100g</p>

  <a class="btn btn-peach" href="/recipe/{{ recette.id }}">Voir la recette</a>

  <div class="note">
    {% for i in 1..5 %}
      {% if marks | length > 0 %}
        <p class="star-average {% if loop.index <= marks[(loop.parent.loop.index - 1)] %}hover{% endif %}"><i class="fas fa-star"></i></p>
      {% endif %}
    {% endfor %}
  </div>
</div>