{{ form_start(recipeForm) }}

    <fieldset>
        {{ form_row(recipeForm.title) }}
        {{ form_row(recipeForm.description) }}
    </fieldset>

    <fieldset>
        {{ form_row(recipeForm.makingTime) }}
        {{ form_row(recipeForm.restingTime) }}
        {{ form_row(recipeForm.cookingTime) }}
        {{ form_row(recipeForm.steps) }}
        {{ form_row(recipeForm.diet) }}
        {{ form_row(recipeForm.ingredients) }}
        {# {{ form_label(recipeForm.ingredients) }}
        <div class="list_ingredients">
        {% for field in recipeForm.ingredients %}
          <div class="ingredient">
            {{ form_widget(field) }}
            {{ form_label(field) }}
          </div>
        {% endfor %}
        </div> #}
        {{ form_row(recipeForm.calories) }}
    </fieldset>
    <fieldset>
        {{ form_row(recipeForm.isPremium) }}

        {% if app.request.attributes.get('_route') == 'admin_recipe_edition' %}
          <h2>Images</h2>
            <div>
              <img src="{{ asset('assets/imgs/recipe/' ~ recette.image ) }}" alt="Image" width="150">
            </div>
        {% endif %}
        {{ form_row(recipeForm.image) }}
    </fieldset>

    <button type="submit" class="btn btn-peach">{{ button_label|default('Ajouter') }} la recette</button>
{{ form_end(recipeForm) }}